opengl/bin/*
opengl/obj/*
/.vs/opengl/v15/.suo
/.vs/opengl/v15/Server/sqlite3/db.lock
/.vs/opengl/v15/Server/sqlite3/storage.ide
/.vs/opengl/v15/Server/sqlite3/storage.ide-shm
/.vs/opengl/v15/Server/sqlite3/storage.ide-wal
